<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/proj/templates/navigation.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">

    <title>Apply Now</title>
</head>
<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/floorplan/" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/gallery/" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/amenities/" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>

            {% if session["loggedin"] == True %}
            <div class="nav">
                <a href="/user_home/" class="w3-button w3-block w3-black">My home</a>
            </div>
            <div class="nav">
                <a href="/logout/" class="w3-button w3-block w3-black">Log out</a>
            </div>
            {% else %}
            <div class="nav">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>
            {% endif %}

        </div>
        <div class="logo">
            <a href="/">EAGLE APARTMENTS</a>
        </div>

    </div>
    <div class="info">
        <div class="account">
            <h1>Account Info</h1>
            <form action="{{ url_for('apply') }}" method="post">
                <label for="fname">First name*</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name*</label><br>
                <input type="text" id="lname" name="lname"><br>
                <label for="lname">Phone*</label><br>
                <input type="text" id="phone" name="phone"><br>
                <label for="email">Email*</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password*</label><br>
                <input type="password" id="pass" name="pass"><br>
                <label for="ConPass">Confirm Password*</label><br>
                <input type="password" id="conPass" name="conPass"><br>
                <button type="submit" class="btn" >Create account</button>
            </form>
            {{ msg }}
        </div>
        <!--
        <a href="reg.html">
            <button class="btn" >Register</button>
        </a>
      -->
    </div>

    <!--
    <div class="login">
        <h3>Login with existing account.</h3>
        <form>
            <label for="email">Email*</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password*</label><br>
            <input type="password" id="pass" name="pass"><br>
        </form>
        <a href="reg.html">
            <button class="btn" >Login</button>
        </a>
    </div>
    -->

    <!-- Header with image -->
    <head>
        <title>Home</title>
        <div class="container">
            <img src="{{ url_for('static', filename='/images/pexels-adrien-olichon-2387674.jpg') }}" alt="stock image">
        </div>
    </head>
    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" id="myBtn"class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    Phone: (123)456-7890<br>
                    Email: EagleApart@email.com<br>
                    M – F : 9:00 am – 7:00 pm<br>
                    SAT : 10:00 am – 5:00 pm<br>
                    SUN : CLOSED
                </p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='contactInfo.js') }}"></script>contactInfo.js

    </footer>
</body>
</html>
