<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
    <link rel="stylesheet" href="/proj/templates/style.css">
    <link rel="stylesheet" href="/proj/templates/navigation.css">
    <link rel="stylesheet" href="/proj/templates/gallery.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">

    <title>Gallery</title>
</head>
<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/floorplan/" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/gallery/" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/amenities/" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>

            <div class="nav">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>

        </div>
        <div class="logo">
            <a href="/">EAGLE APARTMENTS</a>
        </div>

    </div>

     <!-- Container for the image gallery -->
    <div class="gallery-container">
        <div class="gallery">
            <!-- Full-width images with number text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 2</div>
                    <img src="{{ url_for('static', filename='/images/gallery/pexels-pixabay-261045.jpg') }}" style="width:100%; height:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 2</div>
                    <img src="{{ url_for('static', filename='/images/gallery/pexels-skitterphoto-584399.jpg') }}" style="width:100%; height:100%">
                </div>
        </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <!-- Thumbnail images -->
            <div class="row">
              <div class="column">
                <img class="demo cursor" src="{{ url_for('static', filename='/images/gallery/pexels-pixabay-261045.jpg') }}" style="width:100%" onclick="currentSlide(1)" alt="Pool">
              </div>
              <div class="column">
                <img class="demo cursor" src="{{ url_for('static', filename='/images/gallery/pexels-skitterphoto-584399.jpg') }}" style="width:100%" onclick="currentSlide(2)" alt="Living Room">
              </div>
            </div>
    </div>


    <script src="{{ url_for('static', filename='/js/gallery.js') }}"></script>

    <head>
        <title>Home</title>
        <div class="container">
            <img src="{{ url_for('static', filename='/images/pexels-adrien-olichon-2387674.jpg') }}" alt="stock image">
        </div>
    </head>
    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" id="myBtn"class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    Phone: (123)456-7890<br>
                    Email: EagleApart@email.com<br>
                    M – F : 9:00 am – 7:00 pm<br>
                    SAT : 10:00 am – 5:00 pm<br>
                    SUN : CLOSED
                </p>
            </div>
        </div>

        <<script src="{{ url_for('static', filename='contactInfo.js') }}"></script>contactInfo.js

    </footer>
</body>
</html>
