<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/proj/templates/navigation.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
<link rel="stylesheet" href="home.css">
<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/proj/templates/floorplan.html" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/proj/templates/gallery.html" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/proj/templates/amenities.html" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="\proj\templates\apply.html" class="w3-button w3-block w3-black">Apply</a>
            </div>

            <div class="nav">
                <a href="\proj\templates\login.html" class="w3-button w3-block w3-black">Login</a>
            </div>

        </div>
        <div class="logo">
            <a href="/proj/templates/home.html">EAGLE APARTMENTS</a>
        </div>
        
    </div>
    <!-- Header with image -->
    <head>
        <title>Home</title>
        <div class="container">
            <img src="/proj/static/images/pexels-chait-goli-1918291.jpg" alt="stock image" style="width:100%;height:100%;">
            <div class="top-left"> <h1>Eagle<br>Apartments</h1> </div>
            <a href="/apply/">
                <button class="btn" >Apply Now!</button>
            </a>
        </div>
    </head>
    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>
    </footer>
</body>
</html>

<!––floorplans
    gallery
    contact us
    amenities
    apply online
    reviews-->
