<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
<link rel="stylesheet" href="style.css">
<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="w3-row w3-padding w3-black">

            <div class="w3-col s3">
                <a href="#FloorPlan" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="w3-col s3">
                <a href="#Gallery" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="w3-col s3">
                <a href="#Amenities" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="w3-col s3">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>

            <div class="w3-col s3">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>

        </div>
    </div>
    <!-- Header with image -->
    <head>
        <title>Home</title>
        <div class="container">
            <img src="images\pexels-chait-goli-1918291.jpg" alt="stock image" style="width:100%;height:100%;">
            <a href="/apply/">
                <button class="btn" >Apply Now!</button>
            </a>
        </div>
    </head>
    <footer>
            <a href="#ContactUs" class="w3-button w3-block w3-black">Contact Us</a>
    </footer>
</body>
</html>

<!––floorplans
    gallery
    contact us
    amenities
    apply online
    reviews-->
