footer {
    background-color: #000000;
    overflow: hidden;
    margin: 0px;
}

footer a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
}

footer p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
}

footer a:hover {
    color: grey;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
}

.logo a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.logo a:hover {
    color: grey;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

body {
    margin: 0px;
    /*temp fix for whitespace above footer*/
    background-color: #000000;
}