<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css')}}">
    <title>Apply Now</title>
</head>
<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/floorplan/" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/gallery/" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/amenities/" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>

            {% if session["loggedin"] == True %}
            <div class="nav">
                <a href="/user_home/" class="w3-button w3-block w3-black">My home</a>
            </div>
            <div class="nav">
                <a href="/logout/" class="w3-button w3-block w3-black">Log out {{ session['user_email'] }}</a>
            </div>
            {% else %}
            <div class="nav">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>
            {% endif %}

        </div>
        <div class="logo">
            <a href="/">EAGLE APARTMENTS</a>
        </div>

    </div>
    <!--This should automatically be filled out-->
    <!-- <div class="update">
        <div class="personal">
            <h1>Personal Info</h1>
            <form>
                <label for="fname">First name*</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name*</label><br>
                <input type="text" id="lname" name="lname"><br>
                <label for="lname">Phone*</label><br>
                <input type="text" id="phone" name="phone"><br>
            </form>
        </div>
        <button class="btn" >Update</button> 
    </div>-->
    
    <div class="RegContainer">
        <div class="tabs">
            <button class="tablinks" onclick="openPlan(event, 'A')" id="defaultOpen">A</button>
            <button class="tablinks" onclick="openPlan(event, 'B')">B</button>
            <button class="tablinks" onclick="openPlan(event, 'C')">C</button>
        </div>
    
        <div id="A" class="tabcontent">
            <h3>Floorplan A</h3>
            <img src="{{ url_for('static', filename='images/floorplans/a.png') }}" alt="A">
            
            <div class="FPtext">
                <pre class ="tab1">Bedrooms:	1</pre>
                <pre class ="tab2">Baths:		1</pre>
                <pre class ="tab3">Rent:		$500</pre>
                <pre class ="tab4">Patio:		&#10003;</pre>
                <pre class ="tab5">Deck:		&#10003;</pre>
                <pre class ="tab6">Storage:	&#10003;</pre>
                <pre class ="tab7">Fireplace:	x</pre>
            </div>
            <a href="#">
                <button class="pref">Set as my Preferred Floorplan</button>
            </a>
        </div>
    
        <div id="B" class="tabcontent">
            <h3>Floorplan B</h3>
            <img src="{{ url_for('static', filename='images/floorplans/b.png') }}" alt="A">
            <div class="FPtext">
                <pre class ="tab1">Bedrooms:	1</pre>
                <pre class ="tab2">Baths:		1</pre>
                <pre class ="tab3">Rent:		$500</pre>
                <pre class ="tab4">Patio:		&#10003;</pre>
                <pre class ="tab5">Deck:		x</pre>
                <pre class ="tab6">Storage:	&#10003;</pre>
                <pre class ="tab7">Fireplace:	&#10003;</pre>
            </div>
            <a href="/register1/">
                <button class="pref">Set as my Preferred Floorplan</button>
            </a>
        </div>
    
        <div id="C" class="tabcontent">
            <h3>Floorplan C</h3>
            <img src="{{ url_for('static', filename='images/floorplans/c.png') }}" alt="A">
            <div class="FPtext">
                <pre class ="tab1">Bedrooms:	1</pre>
                <pre class ="tab2">Baths:		1</pre>
                <pre class ="tab3">Rent:		$500</pre>
                <pre class ="tab4">Patio:		&#10003;</pre>
                <pre class ="tab5">Deck:		&#10003;</pre>
                <pre class ="tab6">Storage:	&#10003;</pre>
                <pre class ="tab7">Fireplace:	&#10003;</pre>
            </div>
            <a href="#">
                <button class="pref">Set as my Preferred Floorplan</button>
            </a>
        </div>
    
        <script>
            function openPlan(evt, plan) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
                document.getElementById(plan).style.display = "block";
                evt.currentTarget.className += " active";
            }
    
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
    </div>

    <head>
        <title>Home</title>
        <div class="container">
            <img src="{{ url_for('static', filename='/images/pexels-adrien-olichon-2387674.jpg') }}" alt="stock image">
        </div>
    </head>
    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" id="myBtn"class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    Phone: (123)456-7890<br>
                    Email: EagleApart@email.com<br>
                    M – F : 9:00 am – 7:00 pm<br>
                    SAT : 10:00 am – 5:00 pm<br>
                    SUN : CLOSED
                </p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/contactInfo.js') }}"></script>

    </footer>
</body>
</html>
