<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sheet.css')}}">
    <title>Apply Now</title>
</head>

<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/floorplan/" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/gallery/" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/amenities/" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>

            <div class="nav">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>

        </div>
        <div class="logo">
            <a href="/">EAGLE APARTMENTS</a>
        </div>

    </div>

    <div class="reg">
            <form id="regForm" method="post">
              <h1>Register:</h1>
              <!-- One "tab" for each step in the form: -->
              <div class="tab">Current Adress:
                <p><input placeholder="Address..." oninput="this.className = ''" name="address"></p>
                <p><input placeholder="City.." oninput="this.className = ''" name="city"></p>
                <p><input placeholder="State.." oninput="this.className = ''" name="state"></p>

              </div>
              <div class="tab">Move in Date:
                <p><input placeholder="Move in date..." type="date" placeholder="01/01/1970" oninput="this.className = ''" name="MovInDate"></p>
                <label for="terms">Lease Length</label>
                <select placeholder="Lease Length..." name="terms" id="terms">
                  <option value="6">6 Months</option>
                  <option value="12">12 Months</option>
                  <option value="18">18 Months</option>
                  <option value="24">24 Months</option>

                </select>
              </div>

              <div style="overflow:auto;">
                <div style="float:right;">
                  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div>
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>

              </div>
            </form>
    </div>

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

    <head>
        <title>Home</title>
        <div class="container">
            <img src="{{ url_for('static', filename='images/pexels-adrien-olichon-2387674.jpg') }}" alt="stock image">
        </div>
    </head>

    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" id="myBtn"class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    Phone: (123)456-7890<br>
                    Email: EagleApart@email.com<br>
                    M – F : 9:00 am – 7:00 pm<br>
                    SAT : 10:00 am – 5:00 pm<br>
                    SUN : CLOSED
                </p>
            </div>
        </div>

        <div id="mod" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
              <span class="close">&times;</span>
              <label for="okay">Registration complete clik ok to continue</label>
              <a id="okay" href="/user_home/">
                <button>OK</button>
              </a>
          </div>
      </div>

        <script src="{{ url_for('static', filename='js/contactInfo.js') }}"></script>

    </footer>
</body>
</html>
