.container {
    margin: 0px;
}
.container img {
    width: 100%;
    height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 592px;
    left: 482px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff8b06;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}   

.info {
    position: absolute;
    margin:0 auto; 
    width:400px;
    height: 550px;  
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    left: 25%;
    top: 30%;
}

.info input{
    width: 350px;
} 

.info .btn {
    margin: 20px;
}

.login {
    position: absolute;
    margin:0 auto; 
    width:400px;
    height: 275px;  
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    right: 25%;
    top: 30%;
}

.login .btn {
    margin: 20px;
}

.login input{
    width: 350px;
}

.update {
    position: absolute;
    margin:0 auto; 
    width:400px;
    height: 350px;  
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    left: 150px;
    top: 150px;
}

.update input{
    width: 350px;
} 

.update .btn {
    margin: 20px;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
}

.logo a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

body {
    margin: 0px;
    background-color: #000000;
}

footer {
    background-color: #000000;
    overflow: hidden;
    margin: 0px;
}

footer a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
}

footer a:hover {
    background-color: #ddd;
    color: black;
}
