<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>User Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/proj/templates/navigation.css">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Monoton&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/sheet.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">

<body>
    <!-- Links (sit on top) -->
    <div class="topnav">
        <div class="navigation">

            <div class="nav">
                <a href="/floorplan/" class="w3-button w3-block w3-black">Floor Plans</a>
            </div>

            <div class="nav">
                <a href="/gallery/" class="w3-button w3-block w3-black">Gallery</a>
            </div>

            <div class="nav">
                <a href="/amenities/" class="w3-button w3-block w3-black">Amenities</a>
            </div>

            <div class="nav">
                <a href="/apply/" class="w3-button w3-block w3-black">Apply</a>
            </div>


            {% if session["loggedin"] == True %}
            <div class="nav">
                <a href="/logout/" class="w3-button w3-block w3-black">Log out {{ session['user_email'] }}</a>
            </div>
            {% else %}
            <div class="nav">
                <a href="/login/" class="w3-button w3-block w3-black">Login</a>
            </div>
            {% endif %}

        </div>
        <div class="logo">
            <a href="/">EAGLE APARTMENTS</a>
        </div>

    </div>



    <!-- Header with image -->
    <head>
        <title>{{ user_name }} Home Page</title>
        <div class="container">
            <img src="{{ url_for('static', filename='/images/pexels-chait-goli-1918291.jpg') }}" alt="stock image" style="width:100%;height:100%;">
            <div class="top-left">

              <!--
              userData[0] =  id
              userData[1] =  First name
              userData[2] =  Last name
              userData[3] =  phone
              userData[4] =  email
              userData[6] =  unit_num
              -->

              {{ userData[1] }}'s home page
              <br>
              Current unit(s): {{ userData[6] }}
            </div>

        </div>
    </head>

    <div class="info">
        <div class="account">
            <h1>Update Account</h1>
            <form action="{{ url_for('user_home') }}" method="post">
                <label for="fname">First name</label><br>
                <input placeholder={{userData[1]}} id="fname" name="fname" />
                <label for="lname">Last name</label><br>
                <input placeholder={{userData[2]}} id="lname" name="lname" />
                <label for="phone">Phone</label><br>
                <input placeholder={{userData[3]}} id="phone" name="phone" />
                <label for="email">Email</label><br>
                <input placeholder={{userData[4]}} id="email" name="email" />
                <button type="submit" class="btn" >Save Changes</button>
            </form>
            <div style="color: #8B0000;">
              {{msg}}
            </div>
        </div>
        <!--
        <a href="reg.html">
            <button class="btn" >Register</button>
        </a>
      -->
    </div>

    <footer>
        <p>1234 Road St <br>Denton,Texas 76203</p>
        <a href="#ContactUs" id="myBtn"class="w3-button w3-block w3-black">Contact Us</a>
        <a href="#Accessibility" class="w3-button w3-block w3-black">Accessibility Statement</a>
        <a href="#FairHousing" class="w3-button w3-block w3-black">Fair Housing Statement</a>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    Phone: (123)456-7890<br>
                    Email: EagleApart@email.com<br>
                    M – F : 9:00 am – 7:00 pm<br>
                    SAT : 10:00 am – 5:00 pm<br>
                    SUN : CLOSED
                </p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/contactInfo.js') }}"></script>

    </footer>
    <div class="current-user" color="blue" background-color="white">
      useremail:  {{ user }}
    </div>
</body>
</html>

<!––floorplans
    gallery
    contact us
    amenities
    apply online
    reviews-->
