.container {
    margin: 0px;
    position: relative;
    text-align: center;
}
.container img {
    width: 100%;
    height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 592px;
    left: 482px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff8b06;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}   

body {
    margin: 0px;
    /*temp fix for whitespace above footer*/
    background-color: #000000;
}

.top-left {
    position: absolute;
    top: 60px;
    left: 49px;
    font-size: 60px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-family: 'Abril Fatface', cursive;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 25%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content p{
      color: #000;
      text-align: left;
  }